In [6]:
import pandas as pd
import matplotlib as plt

# Regions

In [8]:
regionsDF = pd.read_csv("../originalDataset/noc_regions.csv")

In [9]:
regionsDF.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

In [10]:
len(regionsDF)

230

Existem 230 entradas

In [11]:
regionsDF.isna().sum()

NOC         0
region      3
notes     209
dtype: int64

A maioria das anotações são nulas

In [12]:
regionsDF[regionsDF['region'].isna()]

     NOC region                 notes
168  ROT    NaN  Refugee Olympic Team
208  TUV    NaN                Tuvalu
213  UNK    NaN               Unknown

Existem três regiões que não possuem nome. Uma é o UNKNOWN, Comitê Olímpico de Refugiados e Tuvalu. Podemos alterar todos os seus valores posteriormente.

In [13]:
regionsDF[~regionsDF['notes'].isna()]

     NOC                       region                        notes
1    AHO                      Curacao         Netherlands Antilles
6    ANT                      Antigua          Antigua and Barbuda
7    ANZ                    Australia                  Australasia
26   BOH               Czech Republic                      Bohemia
51   CRT                       Greece                        Crete
88   HKG                        China                    Hong Kong
93   IOA  Individual Olympic Athletes  Individual Olympic Athletes
99   ISV           Virgin Islands, US               Virgin Islands
143  NBO                     Malaysia                 North Borneo
147  NFL                       Canada                 Newfoundland
168  ROT                          NaN         Refugee Olympic Team
175  SCG                       Serbia        Serbia and Montenegro
179  SKN                  Saint Kitts     Turks and Caicos Islands
205  TTO                     Trinidad          Trinidad and Tobago
208  TUV                          NaN                       Tuvalu
210  UAR                        Syria         United Arab Republic
213  UNK                          NaN                      Unknown
223  WIF                     Trinidad       West Indies Federation
224  YAR                        Yemen                  North Yemen
226  YMD                        Yemen                  South Yemen
227  YUG                       Serbia                   Yugoslavia

Pode-se ver que alguns NOC's representam regiões específicas de países maiores como Australasia na Australia, Bohemia na atual Chéquia, Creta na Grécia e NewFoundland no Canadá. Talvez a gente possa resolver isso ou deixar quieto.

# Athletes

In [14]:
athletesDf = pd.read_csv("../originalDataset/athlete_events.csv")

In [15]:
athletesDf.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [16]:
len(athletesDf)

271116

In [17]:
athletesDf.isna().sum()

ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

Podemos perceber algumas coisas de acordo com a quantidade de dados faltando:
- A maioria dos atletas não receberam medalhas e, por isso, a grande maioria deles não possui uma entrada na coluna Medal
- Cerca de 1/5 das entradas estão sem dados sobre altura e peso
- Uma pequena parcela menor está sem idade

Para toda entrada com dado de peso e altura faltando, já que um mesmo atleta pode aparecer mais de uma vez (ver o ID do atleta na linha), podemos agrupar os dados por atleta e verificar se, em alguma de suas entradas, possui a informação que está faltando na outra entrada. A partir disso, podemos tentar completar seus dados. 

O mesmo pode ser feito para a idade do atleta apenas verificando em qual jogos ele participou e calcular a idade dele para os outros eventos.